:root {
  --bg-color: #a9a9a9;
  --snd-bg-color: #dcdcdc;
  --text-color: #fff;
  --main-color: #2f4f4f;
  /* --main-color: #adff2f; */
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  color: greenyellow;
}
